# Android/IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# Android Studio Generated
.DS_Store
/captures
output.json

# Native builds
.externalNativeBuild
.cxx

# .idea specifics (already included but safe)
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Logs
*.log
